:root {
    --radius: 5px;
    --mainTextColor: #3a3a3c;
    --textClamp: clamp(.8rem, 3vw, 1.1rem);

}
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background: #eeeff1;
    font-size: var(--textClamp);
}

.todoapp {
    width: clamp(400px, 90vw, 800px);
    margin: 10px auto;
    border-radius: var(--radius);
    background: #fff;
    box-shadow: 0 0 50px #d5d5d5;
    padding: 20px;
    transition: all .2s ease-in-out;
}

.todoapp:hover {
    box-shadow: 0 0 100px #c6c6c6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin: 0;
}

header .btnCreateTask {
    background: #5fb49c;
    color: #fff;
    border-radius: var(--radius);;
    border: none;
    overflow: no-wrap;
    cursor: pointer;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
}

header .btnCreateTask:hover {
    background: #98dfaf;
}
/* --------------------------- input --------------------------- */

.todoapp .create-container {
    display: none;
    position: relative;
    opacity: 0;
    height: 0;
    transition: all .3s ease-in;
}

.todoapp .create-container.is-visible{
    display: block;
    height: auto;
    opacity: 1;
}

.todoapp .input-todo {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    outline: 2px solid #d3d2de;
    border-radius: 4px;
    transition: all .2s;
}

.todoapp .input-todo:focus {
    outline: 2px solid #a6a6ae;
}

.todoapp .todo-create .filter-tag {
    -webkit-appearance: none;
    text-align:  center;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    right: 2px;
    top: 25px;
    background: #f0f2f6;
    border: none;
    outline: none;
    border-radius: var(--radius);
}


/* --------------------------- todo filters --------------------------- */

 .todoapp .filterby .filter-container {
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 0 10px;
}

.todoapp .filterby .filter-container li{
    list-style-type: none;
}
.todoapp .filter-container a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    position: relative;
    transition: all .3s;
}

.todoapp .filter-container a::after {
    content: "";
    background: #5fb49c;
    width: 100%;
    position: absolute;
    left: 0;
    height: 4px;
    top: 100%;
    opacity: 0;
}

.todoapp .filter-container a.active::after,
.todoapp .filter-container a:hover::after {
    opacity: .8;
}


.hidden {
    display: none !important;
}

/* --------------------------- todos --------------------------- */

.todoapp .todo-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todoapp .todo-list .todo-container {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    outline: 2px solid #e1e5ee;
    border-radius: 4px;
    min-height: 60px;
    padding: 0px 30px;
}


.todo-list .circle {
    position: absolute;
    left: 32px;
    border: solid 4px ;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.todo-list .check-toggle {
    position: absolute;
    /* left: 30px; */
    width: 30px;
    height: 30px;
    cursor: pointer;
    appearance: none;
    transition: all .3s ease-in-out;
    border-radius: 100%;
}

.todo-list .check-toggle:checked{
	background-repeat: no-repeat;
    background-image: url('/src/assets/icons/check.svg');
}

.todo-list .circle.house {
    color: #e63946;
}
.todo-list .circle.personal {
    color: #adcba3;
}
.todo-list .circle.study {
    color: #a8dadc;
}
.todo-list .circle.work {
    color: #457b9d;
}
.todo-list .circle.workout {
    color: #1d3557;
}

.todo-list .check-toggle:checked.house{
    background: #e63946;
}
.todo-list .check-toggle:checked.personal{
    background: #adcba3;
}
.todo-list .check-toggle:checked.study{
    background: #a8dadc;
}
.todo-list .check-toggle:checked.work{
    background: #457b9d;
}
.todo-list .check-toggle:checked.workout{
    background: #1d3557;
}


.todo-list label {
    font-weight: 700;
    position: relative;
    left: 60px;
    word-wrap: break-word;
    max-width: 80%;
}

.todo-list .todo-container.completed label {
    color: #cdcdcd;
    text-decoration: line-through;
}

.todo-list .todo-container .destroy {
    opacity: 0;
    right: 30px;
    position: absolute;
    cursor: pointer;
    color: #c00021;
    transition: all .3s ease-out;  
    text-align: center;
    font-size: clamp(22px, 14px, 28px);
}


.todo-list .todo-container .destroy:hover {
    color: #ff002b;
    transform:scale(1.05);
}

.todo-list .todo-container:hover .destroy{
    opacity: 1;
    
}

/* --------------------------- button delete done --------------------------- */

.delete-all {
    width: clamp(400px, 90vw, 800px);
    margin: auto;
    position: initial;
    padding: 20px;
    text-align: center;
    border-radius: var(--radius);
    background: #fff;
    outline: 1px solid #e1e5ee;
}

.delete-all .todo-delete {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background: #e42c4a;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all .2s;
}

.delete-all .todo-delete:hover {
    box-shadow: 0 0 10px hsl(350, 77%, 53%, .4);
}


/* --------------------------- responsive --------------------------- */

@media only screen and (max-width: 600px){
    .todoapp .todo-list .todo-container{
        padding: 0px 20px;
    }
    
    .todoapp .todo-list .todo-container .destroy{
        right: 20px;
    }

    .todoapp .todo-list .todo-container .circle {
        left: 22px;
    }


}